@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body {
  width: 1920px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.btn {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 46px;
  padding: 16px 45px;
  cursor: pointer;
}

.header {
  min-height: 1061px;
  background: url(../../images/img1.png) no-repeat 863px 147px/1177px 812px,
    linear-gradient(
      180deg,
      rgba(181, 116, 116, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  &-container {
    padding: 36px 243px 0 243px;
    .menu {
      margin-left: auto;
    }
  }
  &__contact {
    margin-left: 40px;
    .btn--empty {
      border: 2px solid #fb4c47;
      color: #ff383d;
      box-sizing: border-box;
      background-color: transparent;
      transition: 0.2s linear;
    }
    .btn--empty:hover {
      background-color: #fb4c47;
      color: #fff;
    }
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 46px;
  .menu-link {
    line-height: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #035755;
    transition: 0.2s linear;
  }
  .menu-link:hover {
    color: #fb4c47;
    text-decoration: underline;
  }
}

.header-main {
  padding: 320px 797px 207px 0;
  max-width: 641px;
  .header__title {
    &-sub {
      display: block;
      font-size: 32px;
      font-weight: 700;
      color: #fa5652;
      line-height: 39px;
    }
    &-main {
      display: block;
      font-size: 52px;
      font-weight: 700;
      color: #035755;
      line-height: 73px;
    }
  }
  .header__desc {
    margin: 29px 0 53px 0;
    text-transform: capitalize;
    color: #4b4f51;
    font-size: 22px;
    line-height: 42px;
  }
  .header__help {
    .btn--nor {
      font-size: 22px;
      color: #fff;
      background: #fb4c47;
      box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
      padding: 28px 57px;
    }
  }
}
